﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Test.aspx.cs" Inherits="Test" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>    
</head>
<body>
    <form id="form1" runat="server">
    <div align="center">    
       <%-- <iframe id="IFrameFile" src="agreements/2012 APA International Group Housing Agreement_66167900.pdf"
            style="width: 790px; height: 800px;" frameborder="0" runat="server"></iframe>--%>
    </div>
    </form>
</body>
</html>
