﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Admin.master.cs" Inherits="Admin_Admin" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Admin</title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <link href="../visuals/css/admin.css" rel="stylesheet" type="text/css" />
    <link href="../visuals/css/GridView.css" rel="stylesheet" type="text/css" />
    <script src="../js/jquery.js"></script>
     <style type="text/css">         
        .HideColumn
        {
            display:none;
            visibility:hidden;   
        }
    </style>
</head>
<body>
    <form id="form1" runat="server"> 
    <asp:ScriptManager ID="scriptManager" runat="server" EnablePartialRendering="true" ScriptMode="Release"></asp:ScriptManager> 
    
   <div style="float:left; width:300px;">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <td colspan="2" class="pgtitle"><div style="float: left; text-align:center;">Housing Agreement Repository (Tokenization enabled)<asp:ContentPlaceHolder runat="server" ID="TitleHolder"></asp:ContentPlaceHolder>&nbsp;</div><div class="logout">
                        <asp:LinkButton ID="logout" runat="server" Text="Logout" CausesValidation="false" ForeColor="White" 
                            onclick="logout_Click"></asp:LinkButton></div></td>
            </tr>
            <tr>
                <td valign="top"  style="width: 400px; border-right: 1px solid silver; border-bottom: 1px solid silver;">                                   
                    <div class="menuSection">Conference Management</div>
                        <div id="Navigator" style="background-color: #ffffff; padding: 10px; border-right: 1px solid silver;">
                           
                        </div>                    
                    <div class="menuSection">User Services</div>
                   <%-- <div class="menuoption" onclick="document.location='./UserServicesFromAdmin.aspx';">User Services</div>   --%>                
                    <div class="menuSection">Vendor Rooms</div>
						<div class="menuoption" onclick="document.location='/2pdf4cm/Admin/HotelAvailabilityNew.aspx';">Hotel Availability</div>
                      <%--  <div class="menuoption" onclick="document.location='/Admin/VendorRoomsFormAdmin.aspx';">Vendor Rooms Groups</div>
                        <div class="menuoption" onclick="document.location='/Admin/VendorRoomsFormAdminNew.aspx';">Vendor Rooms Individuals</div>--%>
                    <%--<div class="menuSection">Registrations</div>
                    <div class="menuoption" onclick="document.location='/Admin/RegistrationFormAdmin.aspx';">Registration Forms</div>--%>
                     <div class="menuSection">Housing registration agreement</div>
                    <%--<div class="menuoption" onclick="document.location='/Admin/HousingRegistrationFormAdmin.aspx';">Housing registration forms</div>--%>
                    <div class="menuoption" onclick="document.location='/2pdf4cm/Admin/HousingRegistrationAgreementSideNightsFormAdmin.aspx';">Housing registration forms</div>
                    <%--<div class="menuoption" onclick="window.open('HousingRegistrationEditor.aspx','window','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=no,scrollbars=yes,width=800,height=1024');">Housing registration form editor</div> --%>
                    <div class="menuSection">Reports</div>
                        <%--<div class="menuoption" onclick="document.location='/Admin/Reports/Rooms.aspx';">Rooms Inventory</div>
                        <div class="menuoption" onclick="document.location='/Admin/Reports/RoomsHistory.aspx';">Rooms History</div>
                        <div class="menuoption" onclick="document.location='/Admin/PickupRoomsForm.aspx';">Pickup Rooms Inventory</div>--%>
                    <div class="menuSection">General Settings</div>
                        <%--<div class="menuoption" onclick="document.location='/Admin/Users.aspx';">User Accounts</div>--%>
                        <div class="menuoption" onclick="document.location='/2pdf4cm/Admin/OperatorAccounts.aspx';">Operator Accounts</div>
                    <div class="menuSection">Individuals</div>
                       <%-- <div class="menuoption" onclick="document.location='/Admin/IndividualServicesFormAdmin.aspx';">Individual Services</div> --%>
                    <div class="menuSection">RSS News</div>
                        <%--<div class="menuoption" onclick="document.location='/Admin/RSSNewsAdmin.aspx';">Rss News</div> --%>                  
                </td>
                <td id="contentSpace" align="left" valign="top">
                    <asp:contentplaceholder id="AdminPlaceHolder" runat="server">
                    </asp:contentplaceholder>
                </td>
            </tr>
            <!--tr>
                <td colspan="2">Footer</td>
            </tr-->
            
        </table>
        
    </div>
    <div style="float:left;">   
       
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
        
    </div>
    </form>
</body>
</html>
