﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Login2.aspx.cs" Inherits="admin_Login2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="../js/jquery.js"></script>
    <script src="../js/Duo-Web-v1.js"></script>
</head>
<body>
    <form id="form1" runat="server">
        <div align="center">
            <iframe id="duo_iframe" width="620" height="330" frameborder="0"></iframe>
            <%--<iframe id="duo_iframe" width="620" height="330" frameborder="0"></iframe>--%>
        </div>
    </form>
</body>
</html>
