body {
	Zbackground-color: #3087e2;
	background-color: #e8e8e8;
	color: #ffffff;
	font-family: tahoma, Arial, Verdana;
	font-size: 12px;
	padding:0px;
	margin: 0px;
}

th 
{
	background-color: White;
	font-weight: bold;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
}
	

.menuopt, .menuopt:visited
{
	font-family: Tahoma;
	font-weight: bold;
	color: #205068;
	cursor: pointer;
	border-bottom: 1px solid #eaeaea;
}

.menuopt:hover
{
	color: white;
	background-color: gray;
}

.pgtitle
{
	padding: 10px;
	padding-left: 20px;
	background-color: #2050a9;
	color: White;
	font-size: 16px;
}

fieldset td
{
	zborder-right: 1px solid silver;
	zborder-bottom: 1px solid silver;
	zpadding: 2px;
}

fieldset table
{
	zborder: 1px solid silver;
	zborder-right: 0px;
	zborder-bottom: 0px;
	zbackground-color: #f4f4f4;
}

fieldset th
{
	padding: 4px;
}

.menuDiv 
{
	padding: 20px;
	padding-top: 20px;
	padding-bottom: 30px;
	background-color: #e7e7e7;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
	width: 160px;	
}


.menuSection 
{
	padding: 5px;
	background-color: #e7e7e7;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
	font-family: Tahoma;
	font-weight: bold;
	color: #205068;	
	background-image: url(/visuals/images/fieldtop.gif);
}

#contentSpace 
{
	padding: 0px;
	vertical-align: top;
	text-align: left;
	zwidth: 100%;
	margin: 0px;
	color: White;
	zbackground-color: silver;
}

.dbcgrid_frame 
{
	border-left: 1px solid silver;
	width: 100%;
}

.dbcgrid_header
{
	background-color: #305087;
	color: White;
	text-align: left;
	border: 1px outset silver;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 0px;
}

.dbcgrid_item /*, .dbcgrid_item:visited*/
{
	border: 1px solid gray;
	border-left: 0px;
	border-top: 0px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #eeeeee;
	color: #102871;
	cursor: pointer;
	height: 20px;
}

.dbcgrid_item_hilite /*:hover */
{
	border: 1px solid gray;
	border-left: 0px;
	border-top: 0px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #dddddd;
	color: black;
	cursor: pointer;
	height: 20px;
}

.dbcgrid_item_selected
{
	border: 1px solid gray;
	border-left: 0px;
	border-top: 0px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: white;
	color: black;
	cursor: pointer;
	height: 20px;
	font-weight: bold;
}


.dbcgrid_item_selected
{
	border: 1px solid gray;
	border-left: 0px;
	border-top: 0px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: white;
	color: black;
	cursor: pointer;
	height: 20px;
	font-weight: bold;
}

.dbcgrid_title 
{
	background-color: gray;
	color: white;
	font-weight: bold;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid silver;
	vertical-align: top;
	float: right;
	border-bottom: 0px;
}

.dbcgrid_mod 
{
	background-color: silver;
	color: #eeeeee;
	font-weight: bold;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #eeeeee;
	vertical-align: top;
	float: left;
	border-bottom: 0px;
	cursor: pointer;
}

.dbcgrid_materheader
{
	background-color: #305087;
}

.dbcgrid_mod:hover 
{
	color: White;
}

.dbcgrid_num
{
	background-color: #eeeeee;
	color: gray;
	border-bottom: 1px solid gray;
	width: 25px;
}

.dbcgrid_new
{
	background-color: #eefeee;
	color: gray;
	border-bottom: 1px solid gray;
	height: 20px;
}

.tabitem 
{
	float: left;
	cursor: pointer;
	color: White;
	font-weight: bold;
	background-color: #ff5050;
	padding: 2px;
	padding-left:3px;
	padding-right: 3px;
	border: 1px solid silver;
}

.EditButtonCancel 
{
	border: 1px outset white;
	zbackground-color: #ff5050;
	background-color: #eeeeee;
	zcolor: white;
	color: #ff5050;
	font-size: 10px;
	width: 19px;
	height: 19px;
	padding: 0px;
	margin: 0px;
	font-family: Webdings;
}

.EditButtonOK
{
	border: 1px outset white;
	zbackground-color: #50aa50;
	background-color: #eeeeee;
	zcolor: white;
	color: Green;
	font-size: 10px;
	width: 19px;
	height: 19px;
	padding: 0px;
	margin: 0px;
	font-family: Webdings;
}

.editText 
{
	font-size: 11px;
	border: 1px solid #509950;
	float: left;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	background-color: #fffff8;
	cursor: text;
}

legend {
	color: white;
	font-weight: bold;
	background-color: #1067c2;
	padding: 5px;
	padding-left: 7px;
	padding-right: 7px;
	border: 1px outset gray;
	border-top: 0px;
	background-image: url(/visuals/images/legback.gif);
}

fieldset
{
	border: 0px outset white;
	padding: 10px;
	padding-top: 0px;
	zborder-top: 3px solid silver;
	border-left: 0px solid silver;
	background-color: #eeeeee;
	margin-bottom: 20px;
	border-bottom: 1px solid #dddddd;
	background-image: url(/visuals/images/fieldtop.gif);
	background-repeat:repeat-x;
	background-position: top;
}


fieldset td, p, th 
{
	color: Black;
}

.NavItem 
{
	padding-left: 10px;
	color: White;	
	font-weight: normal;
	cursor: pointer;
	font-size: 10px;
}

.NavItem:hover 
{
	zbackground-color: Blue;
	color: White;
	font-weight: bold;
	cursor: pointer;
	font-size: 10px;
}

.NavHolder 
{
	zborder: 1px solid red;
	zpadding: 10px;
}

.menuoption
{
	background-color: #ffffff;
	padding: 3px;
	padding-left: 15px;
	cursor: pointer;
	color: Black;
}

.menuoption:hover
{
	background-color: #ffffff;
	padding: 3px;
	padding-left: 15px;
	cursor: pointer;
	color: blue;
}

.logout
{
	cursor: pointer;
	float: right;
	font-size: 14px;
	font-weight: bold;  
}

.logout:hover 
{
	color: Red;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
}

.GridHeader
{
	background-color: white;
	color: White;
	font-weight: bold;
	font-size: 11px;
}
