﻿.grid-view
{
   padding: 0;
   margin: 0;
   border: 1px solid #333;
   font-family: "Verdana, Arial, Helvetica, sans-serif, Trebuchet MS";
   font-size: 0.9em;
}

.grid-view tr.header 
{
   color: white;
   background-color: #003366;
   height: 25px;
   vertical-align: middle;
   text-align: center;
   font-weight: bold;
}

.grid-view tr.normal
{
   color: black;
   background-color: #CCCCCC;
   height: 25px;
   vertical-align: middle;
   text-align: center;
}

.grid-view tr.alternate
{
   color: black;
   background-color: #999999;
   height: 25px;
   vertical-align: middle;
   text-align: center;
}

.grid-view tr.normal:hover, .grid-view tr.alternate:hover
{     
   background-color: #484545;
   color: white;
   
}
