﻿
body 
{
	font-family:Calibri;
	font-size:12px;
	padding:0px;
	margin:0px;
	background:url(../../visuals/img/pageBg.jpg);
	background-repeat:repeat-x;
	}

div#page_Wrapper 
{
	width:900px;	
	zmin-height:1000px;
	height:auto;
	zbackground:#f1f1f1;
	margin:auto;
	}
	
div#page_header 
{
	width:inherit;
	height:150px;
	zbackground:#ccc;
	background:url(../../visuals/img/banner.jpg);
	}
	
div#page_mainContent 
{
	width:inherit;
	height:487px;
	zbackground:#c1f1f1;
	}
	
	div#mainContent_top 
	{
		width:inherit;
		height:470px;
		zbackground:#BA742F;
		}
		
			div#info 
			{
				float:left;
				width:630px;
				height:inherit;
				zbackground:#ccc;
				background:url(../../visuals/img/infoBg.jpg);
				background-repeat:no-repeat;
				}
			
			div#info div#content 
			{
				padding:35px;
				padding-top:20px;
				/* TEXT COLOR 2 */
				color:#001D45;
				font-size:14px;
				height:391px; 
				overflow:hidden;
				zbackground:#eee;
				}	
				
				div#info div#content h2 
				{
					padding:0px;
					margin:0px;
					margin-top:20px;
					font-family:Calibri;
					font-size:20px;
					/* TEXT COLOR 2 */
					color:#001D45;
					}
					
				div#info div#content p 
				{
					padding:0px;
					margin:0px;
					margin-top:0px;
					font-family:Arial;
					font-size:13px;
					padding-bottom:10px;
					border-bottom:1px dotted #ccc;
					}
					
				div#info div#content ul 
				{
					zlist-style:none;
					zpadding:25px;
					padding-left:0px;
					zmargin-top:20px;
					font-family:Calibri;
					Zbackground:#ddd;
					height:110px;
					/* UL WIDTH */
					width:430px;
					overflow:hidden;
					zbackground:url(../../visuals/img/advantages.jpg);
					color:#000;
					font-family:Arial;
					font-size:12px;
					margin-bottom:15px;
					}
					
					div#info div#content ul li 
					{
						margin-left:15px;
						line-height:18px;
						color:#222;
						}
					
					#clickChat 
					{
						cursor:pointer;
						}
				
				div#news 
				{
					zmargin-top:12px;
					height:105px;
					width:590px;
					zbackground:#ccc;
					padding:20px;
					padding-top:4px;
					padding-bottom:10px;
					margin-bottom:80px;
					overflow:hidden;
					background:url(../../visuals/img/newsBg.png);
					}
					
				
				div#newsTitle_wrapper 
				{
					margin-top:10px;
					height:10px;
					margin-bottom:-5px;
					width:inherit;
					}
				
				
				div#news div#newsTitle_wrapper h3 
				{
					float:left;
					font-family:Arial;
					font-size:14px;
					font-weight:normal;
					color:#0025D3;
					background:#000;
					margin:0px;
					padding-top:3px;
					padding-right:30px;
					display:none;
					}
					
				div#news div#news_wrapper 
				{
					padding:0px;
					margin:0px;
					width:600px;
					height:66px;
					overflow:hidden;
					}
					
				div#news table#dlRSS 
				{
					height:30px;
					}
				
					
				div#news table#dlRSS tr td 
				{
					zbackground:#eee;
					}
				
				.RSSTitle 
				{
					}
					
				.RSSTitle a
				{
					font-size:14px;
					font-weight:bold;
					font-family:Calibri;
					text-decoration:none;
					color:#2C4C77;
					}
					
				.RSSSubtitle 
				{
					width:450px;
					overflow:hidden;
					display:inline;
					}
					
				.RSSSubtitle span 
				{
					zdisplay:block;
					zbackground:Red;
					
					}
				
				.RSSInfo 
				{
					color:#777;
					}
					
				#previous, #next 
				{
					outline:none;
					color:#0A568C;
					}
					
				div#chat 
				{
					height:95px; 
					width:100px; 
					zborder:1px solid #000; 
					margin-top:-100px; 
					margin-left:500px; 
					cursor:pointer;
					}
				
				div#info div#travelKit_wrapper, div#info div#chat_wrapper
				{
					cursor:pointer;
					float:left;
					margin:0px;
					margin-top:-5px;
					margin-left:70px;
					margin-right:50px;
					width:180px;
					height:50px;
					zbackground:#aaa;
					padding:5px;
					}		
				
				div#travelKit_wrapper img, div#info div#chat_wrapper img
				{
					float:left;
					height:51px;
					width:51px;
					zbackground:#ccc;
					margin-right:5px;
					zmargin-top:10px;
					padding:0px;
					}
				
				div#travelKit_wrapper span, div#info div#chat_wrapper span 
				{
					float:left;
					padding:0px;
					zbackground:#ccc;
					margin-top:6px;
					zmargin-left:90px;
					display:block;
					font-size:12px;
					line-height:13px;
					}
				
			div#contactForm 
			{
				float:left;
				width:270px;
				height:inherit;
				zbackground:#aaa;
				overflow:hidden;
				}
				
			div#contactForm div 
			{
				margin:15px;
				width:250px;
				height:440px;
				zbackground:#A66729;
				background:url(../../visuals/img/contactBg.jpg);
				overflow:hidden;
				}
				
				div#contactForm div #labelsInfo 
				{
					width:220px;
					height:45px;
					background:url(../../visuals/img/downloadKitBg.png);
					overflow:hidden;
					border-bottom:1px dotted #eee;	
					margin-bottom:5px;		
					} 
				
				div#contactForm div #labelsInfo img 
				{
					display:none;
					float:left;
					zwidth:35px;
					zheight:44px;
					zbackground:#ccc;
					margin-right:7px;
					}
				
				div#contactForm div #labelsInfo span
				{
					float:left;
					width:170px;
					zbackground:#000;
					overflow:hidden;
					display:block;
					zpadding:5px;
					padding-left:0px;
					color:#fff;
					font-size:12px;
					line-height:14px;
					margin-top:11px;
					font-family:Arial;
					display:none;
					}
				
				div#contactForm div #lables 
				{

					height:auto;
					width:220px;
					zbackground:#ccc;
					margin-top:0px;
					}
					
					div#contactForm div #lables span 
					{
						display:block;
						zmargin-top:10px;
						margin-bottom:2px;
						zbackground:#aaa;
						color:#fff;
						font-family:Arial;
						font-size:11px;
						}
						
					.formFields, .formDropDown
					{
						margin-bottom:4px;
						height:16px;
						font-size:12px;
						border:1px solid #FFECCB;
						}
						
					.formDropDown 
					{
						height:20px;
						width:100px;
						
						}
						
					.submitButton 
					{
						display:block;
						margin-top:12px;
						zborder:1px solid #333;
						margin-left:-2px;
						}
				
div#page_footer 
{
	width:inherit;
	height:120px;
	zbackground:#f3f3f3;
	background:#fff;
	}