﻿
body 
{
	font-family:Calibri;
	font-size:12px;
	padding:0px;
	margin:0px;
	background-color:#eee;
	/* background:url(../../visuals/img/pageBg.jpg); */
	background-repeat:repeat-x;
	}

div#page_Wrapper 
{
	width:670px;	
	height:auto;
	margin:auto;
	}
	
div#page_mainContent 
{
	width:inherit;
	height:auto;
	margin-top:30px;
	}
	
	div#mainContent_top 
	{
		width:inherit;
		height:auto;
		zbackground:#BA742F;
		}
		
						
									
			div#contactForm 
			{
				float:left;
				width:600px;
				height:inherit;
				overflow:hidden;
				border:1px solid #ddd;
				}
				
			div#contactForm div 
			{
				width:600px;
				height:750px;
				background:#e8e8e8;
				overflow:hidden;
				}
				
				div#contactForm div #labelsInfo 
				{
					width:540px;
					margin-left:30px;
					height:40px;
					zbackground:url(../../visuals/img/downloadKitBg.png);
					overflow:hidden;
					border-bottom:1px dotted #ccc;	
					margin-bottom:15px;
					padding-bottom:15px;
					ztext-align:right;
					} 
				
								
				
				div#contactForm div #labelsInfo span
				{
					display:block;
					zfloat:left;
					zwidth:520px;
					overflow:hidden;
					padding-left:0px;
					color:#23439D;
					font-size:24px;
					margin-top:16px;
					font-family:Arial;
					}
				
				
				/* LABELS COLUMN */
				div#contactForm div #lables 
				{

					float:left;
					height:auto;
					width:170px;
					margin-left:20px;
					margin-top:0px;
					text-align:right;
					margin-right:0px;
					zpadding-right:0px;
					zline-height:24px;
					
					}
					
				div#contactForm div #lables span 
					{
						display:block;
						zbackground:#aaa;
						color:#305086;
						margin-bottom:1px;
						padding:10px;
						
						font-family:Arial;
						font-size:12px;
					}	
					
				
				/* FIELDS COLUMN */	
				div#contactForm div #fields 
				{

					float:left;
					height:650px;
					width:320px;
					zbackground:#aaa;
					margin-top:0px;
					margin-left:0px;
					}	
					
					
						
					.formFields, .formDropDown
					{
						display:block;
						height:15px;
						margin-top:5px;
						margin-bottom:11px;
						font-size:11px;
						border:1px solid #ccc;
						padding:4px;
						}
						
					.formDropDown 
					{
						height:25px;
						width:auto;
						font-size:11px;
						}
						
					#ddlRooms 
					{
						width:100px;
						}
						
					.submitButton 
					{
						display:block;
						margin-top:20px;
						margin-bottom:10px;
						}
						
					div#contactForm div #fields span 
					{
						color:#666;
						}
				
div#page_footer 
{
	width:inherit;
	height:120px;
	zbackground:#f3f3f3;
	background:#fff;
	}