.loading-indicator {
    height: 35px;
    width: 35px;
    /*background: url( '../img/loading.gif');*/
    background: url( '../img/ui-anim_basic_16x16.gif');
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: -28px;
    margin-top:15px;
}

.loading-indicator-overlay {
    background-color: #FFFFFF;    
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .loading-indicator {
        margin-left: -7px;
        margin-top: 13.5px;
    }            
}